<%- include('header'); -%>

    <div class="container">
        <ul class="list_of_genres">
            <h3 id="available_genres"><em>Available Genres:</em></h3>
            <li>Action</li>
            <li>Biography</li>
            <li>Comedy</li>
            <li>Drama</li>
            <li>Sport</li>
        </ul>
    </div>

<%- include('footer'); -%>