<%- include('header'); -%>

<div class="container">
<p class="about_us">This webpage was made to get feedback for certain list of movies that are provided on the next
    slide.
    It is considered Nazrin Aliyeva's second project during her 3-month internship program in ASF and was provided by her
    mentor
    - Afghan Khalilov. To implement this task, Bootstrap 5, JQuery, MongoDB, and Mongoose were introduced to the intern so that she is familiar
    with different tools that are used in the frontend and backend development. </p>
</div>




<%- include('footer'); -%>