<%- include('header'); -%>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row g-3">
                    <div class="col">
                        <div class="card">
                            <img src="../images/pursuit_of_happyness.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><a href="feedback" class="movie-feedback">The Pursuit of Happyness</a></h5>
                                <p class="card-text"><small class="text-muted">2006, Drama</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../images/devil-wears-prada.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><a href="feedback" class="movie-feedback">The Devil Wears Prada</a></h5>
                                <p class="card-text"><small class="text-muted">2006, Comedy/Drama</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../images/xatiko.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><a href="feedback" class="movie-feedback">Hachi: A Dog's Tale</a></h5>
                                <p class="card-text"><small class="text-muted">2009, Drama</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row g-3">
                    <div class="col">
                        <div class="card">
                            <img src="../images/sully.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><a href="feedback" class="movie-feedback">Sully</a></h5>
                                <p class="card-text"><small class="text-muted">2016, Drama</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../images/beautiful_mind.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><a href="feedback" class="movie-feedback">A Beautiful Mind</a></h5>
                                <p class="card-text"><small class="text-muted">2001, Drama</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../images/coach-carter.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><a href="feedback" class="movie-feedback">Coach Carter</a></h5>
                                <p class="card-text"><small class="text-muted">2005, Sport/Drama</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row g-3">
                    <div class="col">
                        <div class="card">
                            <img src="../images/intern.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><a href="feedback" class="movie-feedback">The Intern</a></h5>
                                <p class="card-text"><small class="text-muted">2015, Comedy/Drama</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../images/social-network.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><a href="feedback" class="movie-feedback">The Social Network</a></h5>
                                <p class="card-text"><small class="text-muted">2010, Biography/Drama</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="../images/bad-boys.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><a href="feedback" class="movie-feedback">Bad Boys For Life</a></h5>
                                <p class="card-text"><small class="text-muted">2020, Action/Comedy</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



<%- include('footer'); -%>