<%- include('header'); -%>

<div class="container">    
    <ul class="list_of_movies">
        <h3 id="available_movies"><em>Available Movies:</em></h3>
        <li>The Pursuit of Happyness</li>
        <li>The Devil Wears Prada</li>
        <li>Hachi: A Dog's Tale</li>
        <li>Sully</li>
        <li>A Beautiful Mind</li>
        <li>Coach Carter</li>
        <li>The Intern</li>
        <li>The Social Network</li>
        <li>Bad Boys For Life</li>
    </ul>
</div>


<%- include('footer'); -%>